body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  background-color: black;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-edge {

  margin-top: 25px;
  padding:50px;
  padding-top: 20px;
  border-radius: 20px;
  background-color: orange;
}

.container {
  width: 960px;
  height: 960px;

  background-color: white;
  display: grid;
}

.pixel {
  min-height: 10px;
  /* display: block; */
}

.pixel.inactive {
  background-color: white;
}

.pixel.active {
  background-color: red;
}

.reset-button {
    width:200px;
    height:50px;

    /* margin: auto; */
    margin-bottom: 20px;

    border-style: none;
    border-radius: 5px;
    background-color: darkgreen;
    color:white;
    font-size: 25px;

    box-shadow: 2px 2px 5px black;
    
    display: inline-block;
}

.reset-button:active {
    box-shadow: none;
}

.radio-group {
    margin-left: 25px;
    display: inline-block;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    border-color: green;
}

label {
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
}